<div class="card card--main">
  <h2 class="header--main card__header">Humble To-Do List</h2>
  <div class="card__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore libero
    soluta voluptatum at praesentium iusto. Commodi laborum suscipit eligendi.
    Magnam rem, eius pariatur iste facilis quam cupiditate alias consequatur
    deleniti?
  </div>
</div>

<div class="card card--purple">
  <h2 class="header--main card__header">Humble To-Do List</h2>
  <div class="card__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore libero
    soluta voluptatum at praesentium iusto. Commodi laborum suscipit eligendi.
    Magnam rem, eius pariatur iste facilis quam cupiditate alias consequatur
    deleniti?
  </div>
</div>
