<span class="icon-container--yellow">
  <svg class="icon icon--yellow">
    <use xlink:href="images/sprite.svg#email"></use>
  </svg>
</span>

<span class="icon-container--yellow">
  <svg class="icon icon--yellow">
    <use xlink:href="images/sprite.svg#linkedin"></use>
  </svg>
</span>

<span class="icon-container--yellow">
  <svg class="icon icon--yellow">
    <use xlink:href="images/sprite.svg#github"></use>
  </svg>
</span>

<span class="icon-container--yellow">
  <svg class="icon icon--yellow">
    <use xlink:href="images/sprite.svg#instagram"></use>
  </svg>
</span>

<span class="icon-container--main">
  <svg class="icon icon--main">
    <use xlink:href="images/sprite.svg#home"></use>
  </svg>
</span>
