<div class="card card--main showcase">
  <div class="grid grid--1x2">
    <div>
      <h2 class="header--main card__header">Humble To-Do List</h2>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        libero soluta voluptatum at praesentium iusto. Commodi laborum suscipit
        eligendi. Magnam rem, eius pariatur iste facilis quam cupiditate alias
        consequatur deleniti?
      </div>
    </div>
    <div>
      <img class="showcase__image" src="images/demo.png" alt="" />
      <a href="#" class="link link--main showcase__link">humble-todo.com</a>
    </div>
  </div>
</div>
