<!-- navigation bar -->
<nav class="navigation">
  <span class="icon-container--main">
    <svg class="icon icon--main">
      <use xlink:href="images/sprite.svg#home"></use>
    </svg>
  </span>
  <ul class="list list--inline">
    <li class="list__item">
      <a href="#" class="link link--main">About Me</a>
    </li>
    <li class="list__item">
      <a href="#" class="link link--main">Projects</a>
    </li>
    <li class="list__item">
      <a href="#" class="link link--main">Contact Me</a>
    </li>
  </ul>
</nav>

<div class="grid showcase showcase--green">
  <span class="badge badge--green">Interests</span>
  <div class="grid grid--1x3">
    <div class="hero hero--small">
      <img class="showcase__image image--gray" src="images/games.jpg" alt="" />
    </div>
    <div class="hero hero--small">
      <img class="showcase__image image--gray" src="images/ai.jpeg" alt="" />
    </div>
    <div class="hero hero--small">
      <img class="showcase__image image--gray" src="images/food.jpg" alt="" />
    </div>
    <div class="hero hero--small">
      <img class="showcase__image image--gray" src="images/food.jpg" alt="" />
    </div>
    <div class="hero hero--small">
      <img class="showcase__image image--gray" src="images/food.jpg" alt="" />
    </div>
    <div class="hero hero--small">
      <img class="showcase__image image--gray" src="images/food.jpg" alt="" />
    </div>
  </div>
</div>

<!-- skills block -->
<div class="grid showcase">
  <span class="badge badge--main">Skills</span>
  <div class="grid grid--1x3">
    <ul class="list list--block">
      <h2 class="header header--main">Front-End</h2>
      <li class="list__item">JavaScript</li>
      <li class="list__item">HTML5</li>
      <li class="list__item">CSS3</li>
      <li class="list__item">Bootstrap</li>
    </ul>
    <ul class="list list--block">
      <h2 class="header header--main">Back-End</h2>
      <li class="list__item">Java</li>
      <li class="list__item">C#</li>
      <li class="list__item">SQL</li>
      <li class="list__item">JavaScript</li>
    </ul>
    <ul class="list list--block">
      <h2 class="header header--main">Other tools</h2>
      <li class="list__item">Git</li>
    </ul>
  </div>
</div>
