<!-- navigation bar -->
<nav class="navigation">
  <span class="icon-container icon-container--main">
    <svg class="icon icon--main">
      <use xlink:href="images/sprite.svg#home"></use>
    </svg>
  </span>
  <ul class="list list--inline">
    <li class="list__item">
      <a href="#" class="link link--main">About Me</a>
    </li>
    <li class="list__item">
      <a href="#" class="link link--main">Projects</a>
    </li>
    <li class="list__item">
      <a href="#" class="link link--main">Contact Me</a>
    </li>
  </ul>
</nav>

<div class="grid showcase showcase--yellow">
  <span class="badge badge--yellow">Let's work together!</span>
  <p class="text">
    Thank you for taking the time to check out my portfolio, I'll be waiting for
    your message!
  </p>
  <div class="grid grid--1x2">
    <ul class="list list--block card card--yellow">
      <span class="icon-container">
        <svg class="icon icon--yellow">
          <use xlink:href="images/sprite.svg#email"></use>
        </svg>
      </span>
      <li class="list__link">
        <a href="#" class="link link--yellow">ettorej.bortolin@gmail.com</a>
      </li>
      <span class="icon-container">
        <svg class="icon icon--yellow">
          <use xlink:href="images/sprite.svg#linkedin"></use>
        </svg>
      </span>
      <li class="list__link">
        <a href="#" class="link link--yellow"
          >https://www.linkedin.com/in/ettore-jos%C3%A9-bortolin-g%C3%B3mez-9094661b9/</a
        >
      </li>
      <span class="icon-container">
        <svg class="icon icon--yellow">
          <use xlink:href="images/sprite.svg#github"></use>
        </svg>
      </span>
      <li class="list__link">
        <a href="#" class="link link--yellow">https://github.com/ettolini</a>
      </li>
      <span class="icon-container">
        <svg class="icon icon--yellow">
          <use xlink:href="images/sprite.svg#instagram"></use>
        </svg>
      </span>
      <li class="list__link">
        <a href="#" class="link link--yellow">@ettorej.bortolin</a>
      </li>
    </ul>
  </div>
</div>
