<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Etto's Portfolio</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <!-- navigation bar -->
    <nav class="navigation">
      <span class="icon-container icon-container--main">
        <svg class="icon icon--main">
          <use xlink:href="images/sprite.svg#home"></use>
        </svg>
      </span>
      <ul class="list list--inline">
        <li class="list__item">
          <a href="#" class="link link--main">About Me</a>
        </li>
        <li class="list__item">
          <a href="#" class="link link--main">Projects</a>
        </li>
        <li class="list__item">
          <a href="#" class="link link--main">Contact Me</a>
        </li>
      </ul>
    </nav>

    <div class="grid grid--project showcase showcase--purple">
      <div class="grid grid--1x2">
        <div class="card card--purple">
          <h2 class="header header--purple card__header">Humble To-Do List</h2>
          <div class="card__body">
            <p class="text text--highlight">( HTML - CSS - JavaScript )</p>
            <p class="text">
              As the name implies, this is a To-Do List project. With it, you
              can perform simple actions you'd expect from any list application:
              you can input and add some text that represents your task to your
              list, you can click on any added task to mark them as "completed",
              and you can also remove any added task in case you don't want to
              see it in your list anymore.
            </p>
            <a href="#" class="card__link link link--purple">humble-todo.com</a>
          </div>
        </div>
        <div
          class="image-container image-container--project image-container--purple"
        >
          <img class="image image--gray" src="images/todo.png" alt="" />
        </div>
      </div>
    </div>

    <div class="grid grid--project showcase">
      <div class="grid grid--1x2">
        <div class="card card--main">
          <h2 class="header header--main card__header">Text Tower</h2>
          <div class="card__body">
            <p class="text text--highlight">( C# )</p>
            <p class="text">
              This project is an executable, it functions as a stack storage.
              But users don't need to understand what a stack is, so I've built
              it to make it look like a "tower made of text blocks". After you
              close the program, a new .csv file will be created, said file will
              contain the text tower you built during execution. Also, keep this
              a secret between us, but I've heard you can unlock a fourth action
              if you build a tall enough tower.
            </p>
            <a href="#" class="card__link link link--main">text-tower.exe</a>
          </div>
        </div>
        <div
          class="image-container image-container--project image-container--main"
        >
          <img class="image image--gray" src="images/tower.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
